header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;

    #high-scores-link {
        color: blueviolet;
    }

}
.view-highscores {
    text-align: left;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: xx-large;
        color: blueviolet;
    }
}

#display-choices {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

#initials-section {
    display: flex;
    align-items: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}